
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lexend', sans-serif;
}
img{
    max-width: 100%;  
}

body {
    background-color: #5544aa;
}
.general-content {
    background-color: rgb(244, 244, 244);
    padding-left: 60px;
    min-height: 100vh;
    position: relative;
}

.logo-type-section {
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 9998;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-type-section div {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.logo-type-section button {
    display: none;
}
.logo-type-section  img{
    
    border-radius: 50%;
}
ul{
    list-style: none;
}
button {
    cursor: pointer;
}

.logo-type-section #heading-title-logo {
    display: none;
    visibility: hidden;
}

.menu {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: calc(100% - 60px);
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    z-index: 1001;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    margin-top: 5px;
}

.menu-item {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.menu-item:hover {
    background: rgb(34, 34, 34);
    border-radius: 50%;
    cursor: pointer;
}

.menu-item svg {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 0.4);
    color:rgba(255, 255, 255, 0.4) ;
    transition: fill 0.4s ease-in-out 0s;
}

.menu-item:hover svg {
    fill: rgb(255, 255, 255);
    transition: fill 0.4s ease-in-out 0s;
}

 .menu-tooltip {
    font-size: .76rem;
    white-space: nowrap;
    font-style: normal;
    position: absolute;
    display: inline-block;
    min-width: 120px;
    left: 55px;
    z-index: 10001;
    top: 1px;
    background: #111;
    padding: 10px 12px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #fff;
    transition: opacity 0.3s;
}
.menu-tooltip::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #111;
    border-bottom: 8px solid #111;
    display: block;
    left: -4px;
    z-index: 10000;
    transform: rotate(45deg);
    transition: opacity 0.3s;
}
.menu-item:hover .menu-tooltip{
    visibility: visible;
    opacity: 1;
}
.menu ul:last-child {
    padding: 0px 5px 5px;
 
}

.menu-shadow {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    transition: all 0.3s ease-in-out 0s;
}
.menu-shadow.open{
    display: block;
}
.submenu {
    position: fixed;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    visibility: visible;
    max-width: 280px;
    width: 100%;
    top: 0px;
    left: -280px;
    z-index: 1000;
    transition: left 0.3s ease 0s;
    overflow: hidden auto;
    background-color: white;
    height: 100%;
}
.submenu.open{
    left: 60px;
}
.submenu .open{
    display: block;
}
.submenu-items {
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 40px;
    list-style-type: none;
    padding: 24px 15px;
    width: 100%;
}

.submenu-item:nth-of-type(n+2):hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
}
.submenu-item.title {
    margin: 0px;
    padding: 0px 16px 16px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 16px;
    cursor: default;
}
.submenu-item a {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: 0px 16px;
}
.menu-avatar{
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: rgba(255, 255, 255, 0.4);
}


 @media (max-width: 767px){
        .submenu {
            top: 60px;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 50px;
        }
        .general-content {
            padding-top: 60px;
            padding-left: 0px;
        }
        .logo-type-section {
            width: 100%;
        }
       
    
        .logo-type-section button {
            display: flex;
            position: absolute;
            left: 18px;
            top: 21px;
            border: 0px;
            background: transparent;
            outline: none;
            cursor: pointer;
        }
        .logo-type-section div {
            width: unset;
            height: unset;
            overflow: auto;
        }
       
    }



.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 180px;
    max-width: 400px;
    padding: 15px 20px;
    margin: 2px 0 0;
    font-size: 13px;
    left: 70px;
    bottom: 10px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}
.dropdown-menu::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: -7px;
    transform: rotate(314deg);
    border-top: 1px solid rgba(0,0,0,0.15);
    border-left: 1px solid rgba(0,0,0,0.15);
}
.dropdown-menu--title:first-of-type{
    font-weight: 600;
}
.dropdown-menu--title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}
.block-divisor, .dropdown-group{
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.dropdown-group:last-of-type{
    border-bottom: none;
}
.center{
    text-align: center;
}


.dropdown-menu__icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    background: #E5E6EB;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}


.dropdown-link--item svg {
    height: 16px;
    position: relative;
    top: 3px;
}

.dropdown-link--item {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    text-decoration: none !important;
    padding: 7px;
    font-weight: 300;
}
.dropdown-link--item:hover{
    background: #fafafa;
    color: #1577eb;
}
.dropdown-link--item:hover svg{
    fill: #1577eb;
}
.dropdown-menu.open {
    display: block;
}

.dashbord-container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}
@media(max-width: 767px){
    .dashbord-container{
       margin-left:60px ;
    }
}
.container-header{
    padding: 10px 15px
}
.container-header span{
    font-size: .95rem;
    font-weight:600;
    color:#6102e0 ;
}
.container-header h2{
    font-size: 1.5rem;
    color: rgb(19, 19, 19);
} 
.item-images {
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    min-height: 350px
}
.item h3 {
    margin: 5px 0 0 0;
    font-size: .72rem;
    text-transform: uppercase;
    padding:0 5px;
}
.item-description > span {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
    font-size: .7rem;
    text-transform: uppercase;
}
.data-edition{
    font-size: .8rem;
    text-transform: uppercase;
    padding:0 5px;
}
.price {
    margin: 5px 0;
    padding: 0 5px;
    width: 100%;
    flex-direction: column;
}
.price i {
    font-style: normal;
    font-size: .8rem;
}
.actual_price {
    font-size: 1.1rem;
}
.newspaper-promotional-price{
    display: block;
    color: #999;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-decoration: line-through;
}
.newspaper-promotional-mark {
    display: inline-block;
    padding: 1px 4px;
    margin-left: 1px;
    border-radius: 3px;
    background: #fff1f1;
    color: #ff4747;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    font-size: 11px;
    font-weight: 600;
}
.item a {
  color: #fff;
}
.item-description{
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    top: -100%;
    transition: top .7s ease 0s;
    border:8px solid #fff;
    background-color: rgba(0, 0, 0, 0.93);
    flex-direction: column;
    color: #fff;
    border-radius: 8px;
    justify-content: center;
    display:flex;
}
 .item:hover .item-description{
    top: 0%;
    transition: top .7s ease 0s;
 }
.item-description .buttons{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;    
}
.item-description .buttons.extra{
    margin-left: 10px;
}
.buttons svg{
  width: 25px;
  fill: rgba(255, 255, 255, 0.4);
  color:rgba(255, 255, 255, 0.4) ;
  line-height: 0;
}

.btns{
    position: relative;
    margin:0 6px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}
.btns:hover{
    background: rgb(34, 34, 34);
}
.btns:hover svg{
    fill: rgba(255, 255, 255, 1);
  color:rgba(255, 255, 255, 1) ;
}
.btns.extra{
    width: auto;
    height: 30px;  
    padding: 0 15px;
    border-radius: 3px;
    font-size: .9rem;
    background-color: #fff;
    color: #111;
}
.btns.extra:hover{
    background:#f2f2f2;
}
.btns.extra svg{
    display: none;
}

.btns .tooltip{
    font-size: .76rem;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    min-width: 50px;   
    z-index: 10001;  
    background: #fff;
    padding: 6px 6px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #333;
    transition: opacity 0.3s;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}
.btns:hover  .tooltip{
    visibility: visible;
    opacity: 1;
}
.btns .tooltip::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
    display: block;
    left: 50%;
    top: 90%;
    z-index: 10000;
    transform: rotate(45deg) translateX(-50%);
    transition: opacity 0.3s;
}
/*SHADOW*/
.shadow_img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    z-index: -1;
    opacity: 0;
    text-align: center;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.shadow_img.show {
    z-index: 19999;
    opacity: 1;
}
.hide {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}
.hide svg {
    color: #ff232f;
    width: 50px;
    height: 50px;
}

.modal-test{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100220;
    background-color: #111111d5;
    display: none;
}
.close-bar{
    width: 100%;
    background-color: #5029ec;
    color:#fff;
    padding: 5px 10px;
}
.close-bar svg{
  width: 30px;
  cursor: pointer;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}