.general-content {
    background-color: #f6f6f6;
    padding-left: 60px;
    min-height: 100vh;
    position: relative;
}

.logo-type-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 9998;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.logo-type-section div {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.logo-type-section img {
    border-radius: 50%;
}

.logo-type-section #heading-title-logo {
    display: none;
    visibility: hidden;
}

.menu {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: calc(100% - 60px);
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    z-index: 1001;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.menu>ul {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    margin-top: 5px;
}

.menu-item {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.menu-item:hover {
    background: rgb(34, 34, 34);
    border-radius: 50%;
    cursor: pointer;
}

.menu-item svg {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    transition: fill 0.4s ease-in-out 0s;
}

.svg-icon-outline-i,
.svg-icon-outline-l,
.svg-icon-outline-p,
.svg-icon-outline-s {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-icon-outline-s {
    stroke: rgba(255, 255, 255, 0.4);
}
.menu-item:hover svg .svg-icon-outline-s,
.subscribe-button--icon svg .svg-icon-outline-s {
    stroke: rgba(255, 255, 255, 1);
}
.svg-icon-outline-i {
    stroke: #222
}

.svg-icon-prime-l {
    fill: rgba(255, 255, 255, 0.4);
}
.menu-item:hover svg .svg-icon-prime-l ,
.subscribe-button--icon svg  .svg-icon-prime-l {
    fill: rgba(255, 255, 255, 1);
}
.svg-icon-prime {
    fill: rgba(255, 255, 255, 0.4);
}
.menu-item:hover svg .svg-icon-prime , 
.subscribe-button--icon svg .svg-icon-prime {
    fill: rgba(255, 255, 255, 1);
}
.svg-icon-i, .subscribe-button--icon svg .svg-icon-i{
    stroke: #222
}

.menu-item:hover svg {
    fill: rgb(255, 255, 255);
    transition: fill 0.4s ease-in-out 0s;
}

.menu-tooltip {
    font-size: .76rem;
    white-space: nowrap;
    font-style: normal;
    position: absolute;
    display: inline-block;
    min-width: 120px;
    left: 55px;
    z-index: 10001;
    top: 1px;
    background: #111;
    padding: 10px 12px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #fff;
    transition: opacity 0.3s;
}

.menu-tooltip::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #111;
    border-bottom: 8px solid #111;
    display: block;
    left: -4px;
    top: 38%;
    z-index: 10000;
    transform: rotate(45deg);
    transition: opacity 0.3s;
}

.menu-item:hover .menu-tooltip {
    visibility: visible;
    opacity: 1;
}

.menu ul:last-child {
    padding: 0px 5px 5px;
}
.menu-avatar {
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    width: 34px;
    height: 34px;
    border: 4px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
}

.menu-item.menu-avatar:hover {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 4px solid #444;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: block;
    min-width: 280px;
    max-width: 400px;
    padding: 15px 20px;
    margin: 2px 0 0;
    font-size: 13px;
    left: 70px;
    bottom: 25px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.dropdown-menu.open {
    z-index: 10000;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: -7px;
    transform: rotate(314deg);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu--title:first-of-type {
    font-weight: 600;
}

.dropdown-menu--title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}

.block-divisor,
.dropdown-group {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.dropdown-group:last-of-type {
    border-bottom: none;
}

.center {
    text-align: center;
}

.dropdown-menu__icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    background: #E5E6EB;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}

.dropdown-link--item svg {
    height: 16px;
    position: relative;
    top: 3px;
}

.dropdown-link--item {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    text-decoration: none !important;
    padding: 7px;
    font-weight: 300;
}

.dropdown-link--item:hover {
    background: #fafafa;
    color: #1577eb;
}

.dropdown-link--item:hover svg {
    fill: #1577eb;
}

.dashbord-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}
.subscribe-flat-body{
    position: fixed;
    right: -10px;
    z-index: 1000;
    display: inline-flex;
}
.subscribe-flat-body:hover {
    will-change: opacity;
  }
  
  .subscribe-button:hover {
    transition: width .25s ease-in-out;
    width: 150px;
    border-radius: 38px;

  }
.subscribe-button{
    display: inline-flex;
    width: 45px;
    height: 45px;
    background-color: #2a2a2a;
    color: #fefefe;
    align-items: center;
    justify-content: center;
    font-size: .94rem;
    border-radius:50%;
    /*border-radius: 38px 0px 0 38px; */
}
.subscribe-button:hover{
    background-color: #333;
}
.subscribe-button:hover .subscribe-button--icon svg{
    margin-right: 10px;
}
.subscribe-button:hover .subscribe-button--text{
    display: flex;    
    transition:  all 1s cubic-bezier(1, 0.34, 0.66, 0.82);
}
.subscribe-button--icon svg{
   width: 20px;
   height: 20px;
   position: relative;
   top: 2px;
} 
.subscribe-button--text{
    display: none;
   

}
.subscribe-flat-ellipsis{
    display: flex;
}
.subscribe-flat-ellipsis svg{
   width: 20px;
   height: 45px;
   fill: #393939;
}
.subscribe-flat-ellipsis svg:last-of-type{
    position: relative;
    left: -12px;
 }
.container-header {
    padding: 10px 15px 40px
}

.container-header span {
    font-size: .8rem;
    font-weight: 600;
    color: #6102e0;
}

.container-header h2 {
    font-size: 1.15rem;
    color: rgb(19, 19, 19);
}

.item-images {
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    min-height: 345px
}

.item h3 {
    margin: 5px 0 0 0;
    font-size: .72rem;
    text-transform: uppercase;
    padding: 0 5px;
}

.item-description>span {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
}

.data-edition {
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0 5px;
}

.price {
    margin: 5px 0;
    padding: 0 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.price i {
    font-style: normal;
    font-size: .8rem;
}

.actual_price {
    font-size: 1.1rem;
}

.newspaper-promotional-price {
    display: block;
    color: #999;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-decoration: line-through;
}

.newspaper-promotional-mark {
    display: inline-block;
    padding: 1px 4px;
    margin-left: 1px;
    border-radius: 3px;
    background: #fff1f1;
    color: #ff4747;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    font-size: 11px;
    font-weight: 600;
}

.item a {
    color: #333;
}

.item-description {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: top .7s ease 0s;
    border: 8px solid #fff;
    background-color: rgba(255, 255, 255, 0.97);
    flex-direction: column;
    color: #333;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.item:hover .item-description {
    z-index: 34;
    transition: top .7s ease 0s;
}

.item-description .buttons {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.item-description .buttons.extra {
    margin-left: 10px;
}

.buttons svg {
    width: 25px;
    fill: #353535;
    color: #353535;
    line-height: 0;
}

.btns {
    position: relative;
    margin: 0 6px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.btns:hover {
    background: rgb(34, 34, 34);
}

.btns:hover svg {
    fill: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.btns.extra {
    width: auto;
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: .9rem;
    background-color: #454545;
    color: #fff;
}

.btns.extra:hover {
    background: #232323;
}

.btns.extra svg {
    display: none;
}

.btns .tooltip {
    font-size: .76rem;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    min-width: 50px;
    z-index: 10001;
    background: #454545;
    padding: 6px 6px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #fff;
    transition: opacity 0.3s;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.btns:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.btns .tooltip::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #454545;
    border-bottom: 8px solid #454545;
    display: block;
    left: 50%;
    top: 90%;
    z-index: 10000;
    transform: rotate(45deg) translateX(-50%);
    transition: opacity 0.3s;
}

/*SHADOW*/

.shadow_img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    z-index: -1;
    opacity: 0;
    text-align: center;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.shadow_img.show {
    z-index: 19999;
    opacity: 1;
}

.hide {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #444;
    border: 5px solid #fff;
}

.hide:hover {
    background-color: #222;
}

.hide svg {
    color: #ffffff;
    width: 40px;
    height: 40px;
}

.modal-test {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100220;
    background-color: #111111d5;
    display: none;
}

.close-bar {
    width: 100%;
    color: #fff;
    position: relative;
}

.close-bar span {
    position: absolute;
    top: 6px;
    right: 90px
}

.close-bar svg {
    width: 33px;
    cursor: pointer;
}


/* PLAN PAGE */

.plan-title-section {
    margin: 20px auto;
    width: 65%;
    text-align: center;
}
.plan-title-section h2{                                              
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #454545;
} 

.plan-item *{
    font-family: 'Graphik', sans-serif !important;
}

.plan-item {
    background-color: #fff;
    padding-top: 40px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 6px 0 rgb(178 178 178 / 33%);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.plan-item>* {
    padding-left: 20px;
    padding-right: 20px;
}

.plan-item--icon{
    width:110px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  margin: 10px auto 20px;
}
.plan-item--icon svg{
    width:110px;
    height: 70px;
}
.plan-item--icon img{
    height: 80px;
}
.plan-header h3 {
    font-size: 1.051rem;
    color: #403882;
    font-weight: 600;
    margin-bottom: 25px;
}

.plan-price {
    font-size: 1.60rem;
    text-align: center;
    color: #444;
    font-weight: 500;
    margin-bottom: 2px;
}

.plan-price .currency {
    font-size: .8rem;
    position: relative;
    top: -4px;
    right: 3px
}

.plan-tip {
    color: #222;
    padding: 3px 5px 10px;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}

.plan-pricing--tip {
    font-size: .88rem;
    padding: 0 !important;
    font-weight: 275;
    display: inline-block;
    position: relative;
    cursor:default;
    color: rgba(16,16,16,.5);
    padding-top: 10px !important;
    border-bottom: 1px  dashed #ccc;
}
.plan-pricing--tip .tooltip{
    top: 100%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    margin-top: 5px;
    transform: translateY(4px);
    position: absolute;
    z-index: 999;
    display: block;
    width: 200px;
    font-weight: initial;
    line-height: 19px;
    opacity: 0;
    z-index: -1;
    transition: .15s ease .1s;
}

.plan-pricing--tip:hover .tooltip {
    visibility: visible!important;
    opacity: 1!important;
    z-index: 10;
    transition: .15s ease;
    transform: translateY(0);
    pointer-events: auto;
}
.tooltip:after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    left: 50%;
    margin-left: -4px;
    top: -4px;
    border-bottom: 4px solid rgba(34,44,60,.96);
    border-right: solid transparent 4px;
    border-left: solid transparent 4px;
}
.tooltip-content{
    left: 50%;
    display: inline-block;
    padding: 4px 11px;
    border-radius: 2px;
    background-color: rgba(34,44,60,.96);
    box-shadow: 0 3px 6px 0 rgb(52 74 97 / 13%);
    color: #fff;
    text-align: center;
    text-transform: initial;
    text-shadow: none;
    letter-spacing: .3px;
    font-size: 12px;
}

.plan-link {
    font-size: 13px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    font-weight: 300;
}
.plan-link svg{
    margin-left: 5px;
    width: 13px;
} 
.plan-link:hover{
    border-bottom: 1px solid #377FEA;
    color: #000;
}
.plan-text{
    margin-top: 18px;
    font-size: .9rem;
    line-height: 22px;
    display: block;
    color: #617A90;
    text-align: center;
}
.plan-button {
    display: inline-block;
    margin: 25px 0 10px;
    text-align: center;
    color: #fff;
    font-size: .87rem;
    font-weight: 500;
    border-radius: 3px;
    border: 0;
    padding: 16px 50px 17px;
    transition: .25s ease-in-out;
    background: #3b82ff;
}

.plan-button:hover{
    transform: scale(1.03);
}   
.recommended .plan-button {
    background: #fff;
    border: 1px solid #3b82ff;
    color: #3b82ff;
}

.last-plan--text {
    max-width: 800px;
    margin: 40px auto 40px;
    text-align: center;
    font-size: .8rem;
}
.last-plan--text p{
    font-family: 'Graphik', sans-serif !important; 
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 275;
    color: #333;
}
.last-plan--text p:last-of-type{
     max-width: 700px; 
     margin: auto;   
}

/* CHECKOUT PAGE */

.checkout-page{
    background-color: #fff;
    border-radius: 7px;
    max-width: 590px;
    margin: 10px auto;
    padding:32px 48px 48px;
}

.checkout-page *{
    font-family: 'circular',sans-serif !important;
}
.checkout-page .back-block{
    border:2px solid rgb(235 235 235);;
    color: rgb(168, 163, 163);
    appearance: none;
    font-size: 1.45rem;
    font-weight: 900;
    width: 50px;
    height: 73px;
    position: relative;
    border-radius: 4px 0 0 4px;
    padding-right: 6px;  
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
  .arrow-back {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-bottom: 1px solid rgb(168, 163, 163);
    border-left: 1px solid rgb(168, 163, 163);
    transform: rotate(45deg);
  }
.checkout-page .back-block:hover{
    background-color: #ebebeb;
    color: rgb(51, 51, 51);
}

.checkout-page .your-choice{
    padding: 15.5px 15px;
   margin: 10px 0;
   width: calc(100% - 50px);
    background-color:#ebebeb ;
    border-radius: 0 5px 5px 0;
}
.checkout-page .your-choice svg{
   width:38px;
    margin-right: 10px;
    color: rgb(0, 135, 72);
}

.checkout-page .your-choice span{
    font-size: .8rem;
}
.checkout-page .your-choice h2{
    font-size: 1.18rem;
    color: rgb(0, 135, 72);
}

.checkout-page .value-block{
    background-color: #fff;
    border: 1px solid #c8c8c8;
    cursor: text;
    padding: 12px 10px;    
    margin: 10px 0 20px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
}
.value-block--currency {
    width: 40px;
    text-align: center;
    font-weight: 900;
    color: #444;
}
.value-block--currency span{
    display: block;
    font-size: 1.125rem;
}
.value-block--value{
    font-size: 2rem;
    font-weight: 900;
    color: #444;
    font-family: 'circular-bold',sans-serif !important;
}
.text-block{
    margin: 10px 0;
}
.text-block h3{
    font-size:1.02rem;
    color: #333;
    line-height: 1.5;
    margin: 15px 0;
}
.text-block p, .payment-ways--body p, .checkout-page p{
    line-height: 1.3;
    font-size: .9rem;
    color: #444;
}
.line-block{
    display: block;
    width: 100%;
    border-bottom:1px solid #f1f1f1; 
    margin: 16px 0;
}
.payment-block h3{
    font-size: 1.1rem;
    margin: 20px 0;
    color: #4b4b4b;
}
.payment-block-list{
    border: 1px solid #c8c8c8;
    border-radius: 0.25rem;
}
.payment-ways{
    padding: 16px;
}
.payment-ways:not(:last-child){
    border-bottom: 1px solid #c8c8c8;
}
.payment-ways--header{
    cursor: pointer;
}
.payment-ways--header input{
    appearance: none;
    background: radial-gradient(circle,#fff 100%,#fff 0);
    border: 0.125rem solid #c8c8c8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 20px;
    margin: 0.125rem;
    width: 20px;
}
.payment-ways--header label{
    cursor: pointer;
    width:calc(100% - 30px);
}
.payment-ways--header input:checked {
    background: radial-gradient(circle,#02a95c 45%,#fff 0);
    border-color: #02a95c;
}
.payment-ways--header input:hover:not(:disabled) {
    box-shadow: 0 0 0 0.625rem #e6f6ef;
}
.payment-ways--header label span {
    text-transform: uppercase;
    font-size: .869rem;
}
.payment-ways--header label img{
 width: 27px;
 height: 27px;
 margin: 0 10px; 
} 
.payment-transfer .payment-ways--header label img{
    width: 21px;
    height: 21px; 
    position: relative;
    top: -1px;
   } 
.payment-ways--header label .banks-imgs{
    margin-left: 10px;
}
.payment-ways--header label .banks-imgs img{
    height: auto;
    margin: 0;
    position: relative;
    top: 0px;
}
.banks-imgs span{
    width: 22px;
    height: 22px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid #fff;
}

.payment-ways--body{
    padding: 20px 19px 10px;
    display: none;
}
.payment-ways--body.open{
    display: block;
}
.payment-ways--body p{
    padding:5px 0px;
}
.payment-ways--values {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 30px;
   
}
.payment-ways--values.brd-bottom{
    border-bottom:1px solid #ededed; 
}
.payment-ways--values li{
    display: flex;
    justify-content: space-between;
    font-size: .907rem;
    color: #444;
    padding: 13px 5px ;
    border-top: 1px solid #efefef;
}
.checkbox-list {
    padding: 20px 0;
}
.checkbox-list li{
    margin: 15px 0;

} 
.checkbox-item input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0.125rem solid #c8c8c8;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 20px;
    margin: 0.125rem;
    position: relative;
    width: 20px;
}
.checkbox-item label{
    width: calc(100% - 38px);
    margin-left: 14px;
    font-size: .88rem;
    color: #3c3c3c;
}
.checkbox-item input:checked {
    background: #02a95c;
    border-color: #02a95c;
    content:  url(../img/checkmark.svg);
   }
   .checkbox-item input:hover:not(:disabled){
    box-shadow: 0 0 0 0.625rem #e6f6ef;
   }

.payment-button{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px 10px;
  font-size: .973rem;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: none;
}
.payment-button.open{
    display: flex;
}
.payment-button img{
    width: 26px;
    margin-right: 10px;

}
.payment-button.pay-gateway{
    background: #EC7008;
}
.payment-button.pay-gateway:hover{
    background-color: #b75506;
}
.payment-button.pay-transfer{
    background: #021ba9;
}
.payment-button.pay-transfer:hover{
    background: #0825ca;
}
.text-block.last p{
    font-size: .83rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #acacac;
}
.text-block.last p a{
    text-decoration: underline;
    color: #000;
}
.garantee-block{
    margin-top: 15px;
    display: flex;
    align-items:flex-start;
}

.garantee-block .icon-side {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background-color: #E7F0F7;
   display: flex;
   align-items: center;
   justify-content: center;
}
.garantee-block .icon-side img{
    width: 57%;
}
.garantee-block  .text-side{
    width: calc(100% - 60px);
    margin-left: 15px;
}
.garantee-block  .text-side h3{
    font-size: .9402rem;
    margin-bottom: 10px;
}
.garantee-block  .text-side p{
    font-size: .8402rem;
    margin-bottom: 13px;
    line-height: 1.5;
    color: #6c6c6c;
}
.garantee-block  .text-side p a{
    text-decoration: underline;
}


/* Media queries */

@media (max-width: 1200px) {
    .plan-item>* {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 990px) {
    .plan-item>* {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 767px) {
    .submenu {
        top: 60px;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 50px;
    }
    .general-content {
        padding-top: 60px;
        padding-left: 0px;
    }
    .logo-type-section {
        width: 100%;
    }
    .logo-type-section div {
        width: unset;
        height: unset;
        overflow: auto;
        align-items: center;
        display: flex;
    }
    .logo-type-section a {
        order: -1;
    }
    .logo-type-section a img {
        width: 30px;
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
    .logo-type-section #heading-title-logo {
        display: inline-flex;
        color: #fff;
        visibility: visible;
    }
    .dashbord-container {
        margin-left: 60px;
        padding: 10px 0;
    }
    .plan-title-items {
        width: 100%;
    }
    .row {
        margin-bottom: 30px;
    }
    .plan-title-section h2 {
        font-size: 1.6rem;
    }
}
@media(max-width: 547px) {
    .payment-ways--header label .banks-imgs{
        display: none;
    }
    .payment-ways{
        padding: 15px 10px;
    }
}

@media (max-width: 500px) {
    .plan-item>* {
        padding-left: 10px;
        padding-right: 10px;
    }
   .checkout-page{
    padding: 22px 18px 48px;
   }
   .value-block--value{
    font-size: 1.7rem;
   }
}


@media(max-width: 447px) {
    .checkout-page .your-choice svg{
       display: none;
     }
     .checkout-page {
        padding: 10px 18px 48px;
    }
}
@media(max-width: 347px) {
    .item-images {
        min-height: auto;
    }
}