.general-content {
    background-color: #f2f4f6;
    padding-left: 60px;
    min-height: 100vh;
    position: relative;
}

.logo-type-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 9998;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.logo-type-section div {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.logo-type-section img {
    border-radius: 50%;
}

.logo-type-section #heading-title-logo {
    display: none;
    visibility: hidden;
}

.menu {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: calc(100% - 60px);
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    z-index: 1001;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.menu>ul {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    margin-top: 5px;
}

.menu-item {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.menu-item:hover {
    background: rgb(34, 34, 34);
    border-radius: 50%;
    cursor: pointer;
}

.menu-item svg {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    transition: fill 0.4s ease-in-out 0s;
}

.svg-icon-outline-i,
.svg-icon-outline-l,
.svg-icon-outline-p,
.svg-icon-outline-s {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-icon-outline-s {
    stroke: rgba(255, 255, 255, 0.4);
}

.menu-item:hover svg .svg-icon-outline-s,
.subscribe-button--icon svg .svg-icon-outline-s {
    stroke: rgba(255, 255, 255, 1);
}

.svg-icon-outline-i {
    stroke: #222
}

.svg-icon-prime-l {
    fill: rgba(255, 255, 255, 0.4);
}

.menu-item:hover svg .svg-icon-prime-l ,
.subscribe-button--icon svg  .svg-icon-prime-l {
    fill: rgba(255, 255, 255, 1);
}

.svg-icon-prime {
    fill: rgba(255, 255, 255, 0.4);
}

.menu-item:hover svg .svg-icon-prime , 
.subscribe-button--icon svg .svg-icon-prime {
    fill: rgba(255, 255, 255, 1);
}

.svg-icon-i, .subscribe-button--icon svg .svg-icon-i{
    stroke: #222
}

.menu-item:hover svg {
    fill: rgb(255, 255, 255);
    transition: fill 0.4s ease-in-out 0s;
}

.menu-tooltip, .re-order i{
    font-size: .76rem;
    white-space: nowrap;
    font-style: normal;
    position: absolute;
    display: inline-block;
    left: 55px;
    z-index: 10001;
    top: 1px;
    background: #111;
    padding: 10px 12px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #fff;
    transition: opacity 0.3s;
}

.menu-tooltip::before , .re-order i::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #111;
    border-bottom: 8px solid #111;
    display: block;
    left: -4px;
    top: 38%;
    z-index: 10000;
    transform: rotate(45deg);
    transition: opacity 0.3s;
}

.menu-item:hover .menu-tooltip, .re-order:hover i{
    visibility: visible;
    opacity: 1;
}

.menu ul:last-child {
    padding: 0px 5px 5px;
}

.menu-avatar {
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    width: 34px;
    height: 34px;
    border: 4px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
}

.menu-item.menu-avatar:hover {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 4px solid #444;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: block;
    min-width: 280px;
    max-width: 400px;
    padding: 15px 20px;
    margin: 2px 0 0;
    font-size: 13px;
    left: 70px;
    bottom: 10px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.dropdown-menu.open {
    z-index: 10000;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: -7px;
    transform: rotate(314deg);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu--title:first-of-type {
    font-weight: 600;
}

.dropdown-menu--title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}

.block-divisor,
.dropdown-group {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.dropdown-group:last-of-type {
    border-bottom: none;
}

.center {
    text-align: center;
}

.dropdown-menu__icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    background: #E5E6EB;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}

.dropdown-link--item svg {
    height: 16px;
    position: relative;
    top: 3px;
}

.dropdown-link--item {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    text-decoration: none !important;
    padding: 7px;
    font-weight: 300;
}

.dropdown-link--item:hover {
    background: #fafafa;
    color: #1577eb;
}

.dropdown-link--item:hover svg {
    fill: #1577eb;
}

.dashbord-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

.subscribe-flat-body{
    position: fixed;
    right: -10px;
    z-index: 1000;
    display: inline-flex;
}

.subscribe-button{
    display: inline-flex;  
    color: #fefefe;
    align-items: center;
    justify-content: center;
    font-size: .94rem;
    position: relative;
    height: 46px;
    cursor: pointer;
}

.subscribe-button:hover  .subscribe-button--text{
    padding-left:50px;
    padding-right: 16px;
    width: 165px;
    color: #fff;    
}

.subscribe-button:hover  .subscribe-button--icon{
    left: 10px;    
}

.subscribe-button--icon{
    position: absolute;
	align-items: center;
    justify-content: center;
    display: grid;
    transition: transform .3s ease-in-out;
    width: 46px;
    height: 46px;
    background-color: #2a2a2a;
    border-radius: 50%;
}

.subscribe-button--icon svg{
   width: 22px;
   height: 22px;
   position: relative;
} 

.subscribe-button--text{
    position: relative;
    z-index: -1;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .3s;
    transition-property: color,width;
    border-radius: 56px;
    width: 46px;
    height: 46px;
    background-color: #2a2a2a;
    color: transparent;
    text-overflow: clip;
    white-space: nowrap;
}

.subscribe-flat-ellipsis{
    display: flex;
}

.subscribe-flat-ellipsis svg{
   width: 20px;
   height: 46px;
   fill: #393939;
}

.subscribe-flat-ellipsis svg:last-of-type{
    position: relative;
    left: -12px;
 }
.container-header {
    padding: 10px 0px 5px
}

.container-header span {
    font-size: .8rem;
    font-weight: 600;
    color: #6102e0;
}

.container-header h2 {
    font-size: 1.15rem;
    color: rgb(19, 19, 19);
}

.item-images {
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    min-height: 345px
}

.item h3 {
    margin: 5px 0 0 0;
    font-size: .72rem;
    text-transform: uppercase;
    padding: 0 5px;
}

.item-description>span {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
}

.data-edition {
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0 5px;
}

.price {
    margin: 5px 0;
    padding: 0 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.price i {
    font-style: normal;
    font-size: .8rem;
}

.actual_price {
    font-size: 1.1rem;
}

.newspaper-promotional-price {
    display: block;
    color: #999;
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    text-decoration: line-through;
}

.newspaper-promotional-mark {
    display: inline-block;
    padding: 1px 4px;
    margin-left: 1px;
    border-radius: 3px;
    background: #fff1f1;
    color: #ff4747;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    font-size: 11px;
    font-weight: 600;
}

.item a {
    color: #333;
}

.item-description {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: top .7s ease 0s;
    border: 8px solid #fff;
    background-color: rgba(255, 255, 255, 0.97);
    flex-direction: column;
    color: #333;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.item:hover .item-description {
    z-index: 34;
    transition: top .7s ease 0s;
}

.item-description .buttons {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.item-description .buttons.extra {
    margin-left: 10px;
}

.buttons svg {
    width: 25px;
    fill: #353535;
    color: #353535;
    line-height: 0;
}

.btns {
    position: relative;
    margin: 0 6px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.btns:hover {
    background: rgb(34, 34, 34);
}

.btns:hover svg {
    fill: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.btns.extra {
    width: auto;
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: .9rem;
    background-color: #454545;
    color: #fff;
}

.btns.extra:hover {
    background: #232323;
}

.btns.extra svg {
    display: none;
}

.btns .tooltip {
    font-size: .76rem;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    min-width: 50px;
    z-index: 10001;
    background: #454545;
    padding: 6px 6px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    color: #fff;
    transition: opacity 0.3s;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.btns:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.btns .tooltip::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-left: 8px solid #454545;
    border-bottom: 8px solid #454545;
    display: block;
    left: 50%;
    top: 90%;
    z-index: 10000;
    transform: rotate(45deg) translateX(-50%);
    transition: opacity 0.3s;
}

/*SHADOW*/

.shadow_img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    z-index: -1;
    opacity: 0;
    text-align: center;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.shadow_img.show {
    z-index: 19999;
    opacity: 1;
}

.hide {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #444;
    border: 5px solid #fff;
}

.hide:hover {
    background-color: #222;
}

.hide svg {
    color: #ffffff;
    width: 40px;
    height: 40px;
}

.modal-test {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100220;
    background-color: #111111d5;
    display: none;
}

.close-bar {
    width: 100%;
    color: #fff;
    position: relative;
}

.close-bar span {
    position: absolute;
    top: 6px;
    right: 90px
}

.close-bar svg {
    width: 33px;
    cursor: pointer;
}


/* PLAN PAGE */

.plan-title-section {
    margin: 20px auto 40px;
    width: 65%;
    text-align: center;
}

.plan-title-section h2{                                            
    color: #575757;
    font-weight: 500;
    font-size: 90px;
    line-height: 84px;
    text-shadow: 2px 2px #fff;
    font-family: 'Lavanderia', sans-serif !important;
} 

.plan-title-section p{
    margin-top: 30px;
    color: #454545;
}

.plan-item *{
    font-family: 'Graphik', sans-serif !important;
}

.plan-item {
    background-color: #fff;
    padding-top: 40px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 6px 0 rgb(178 178 178 / 33%);
    border-radius: 4px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.plan-item>* {
    padding-left: 20px;
    padding-right: 20px;
}

.plan-item--icon{
    width:110px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  margin: 10px auto 20px;
}

.plan-item--icon svg{
    width:110px;
    height: 70px;
}

.plan-item--icon img{
    height: 70px;
}

.plan-header h3 {
    font-size: 1.051rem;
    color: #403882;
    font-weight: 600;
    margin-bottom: 25px;
}

.plan-price {
    font-size: 1.60rem;
    text-align: center;
    color: #444;
    font-weight: 500;
    margin-bottom: 2px;
}

.plan-price .currency {
    font-size: .986rem;
    position: relative;
    top: -4px;
    right: 3px
}

.plan-tip {
    color: #222;
    padding: 3px 5px 10px;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}

.plan-pricing--tip {
    font-size: .88rem;
    padding: 0 !important;
    font-weight: 275;
    display: inline-block;
    position: relative;
    cursor:default;
    color: rgba(16,16,16,.5);
    padding-top: 10px !important;
    border-bottom: 1px  dashed #ccc;
}

.plan-pricing--tip .tooltip{
    top: 100%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    margin-top: 5px;
    transform: translateY(4px);
    position: absolute;
    z-index: 999;
    display: block;
    width: 200px;
    font-weight: initial;
    line-height: 19px;
    opacity: 0;
    z-index: -1;
    transition: .15s ease .1s;
}

.plan-pricing--tip:hover .tooltip {
    visibility: visible!important;
    opacity: 1!important;
    z-index: 10;
    transition: .15s ease;
    transform: translateY(0);
    pointer-events: auto;
}

.plan-pricing--tip .tooltip:after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    left: 50%;
    margin-left: -4px;
    top: -4px;
    border-bottom: 4px solid rgba(34,44,60,.96);
    border-right: solid transparent 4px;
    border-left: solid transparent 4px;
}

.tooltip-content{
    left: 50%;
    display: inline-block;
    padding: 4px 11px;
    border-radius: 2px;
    background-color: rgba(34,44,60,.96);
    box-shadow: 0 3px 6px 0 rgb(52 74 97 / 13%);
    color: #fff;
    text-align: center;
    text-transform: initial;
    text-shadow: none;
    letter-spacing: .3px;
    font-size: 12px;
}

.plan-link {
    font-size: 13px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    font-weight: 300;
}

.plan-link svg{
    margin-left: 5px;
    width: 13px;
} 

.plan-link:hover{
    border-bottom: 1px solid #377FEA;
    color: #000;
}

.plan-text{
    margin-top: 18px;
    font-size: .9rem;
    line-height: 22px;
    display: block;
    color: #617A90;
    text-align: center;
}

.plan-button {
    display: inline-block;
    margin: 25px 0 10px;
    text-align: center;
    color: #fff;
    font-size: .87rem;
    font-weight: 500;
    border-radius: 3px;
    border: 0;
    padding: 16px 50px 17px;
    transition: .25s ease-in-out;
    background: #3b82ff;
}

.plan-button:hover{
    transform: scale(1.03);
}  

.recommended .plan-button {
    background: #fff;
    border: 1px solid #3b82ff;
    color: #3b82ff;
}

.last-plan--text {
    max-width: 800px;
    margin: 40px auto 40px;
    text-align: center;
    font-size: .8rem;
}

.last-plan--text p{
    font-family: 'Graphik', sans-serif !important; 
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 275;
    color: #333;
}

.last-plan--text p:last-of-type{
     max-width: 700px; 
     margin: auto;   
}

/* CHECKOUT PAGE */

.checkout-page, .confirm-page {
    background-color: #fff;
    border-radius: 3px;
    max-width: 590px;
    margin: 10px auto;
    padding:32px 48px 48px;
}

.checkout-page *, .confirm-page * {
    font-family: 'circular',sans-serif !important;
}

.checkout-page .value-block{
    background-color: #fff;
    border: 2px solid #3b82ff;
    cursor: text;
    padding: 12px 10px;    
    margin: 10px 0 20px;
    border-radius: 3px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.value-block span{
    font-family: 'Graphik', sans-serif !important;
}

.value-block--assignature {
    color: #444;
}

.assignature-img{
    width: 47px;
    padding: 6px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #3b82ff;
}

.value-block--assignature h4{
    font-size: 1.01rem;
}

.value-block--assignature span{
    display: block;
    margin-top: 5px;
    text-align: left;
    font-weight: 400;
    color: #969696;
    text-transform: uppercase;
    font-size: .62rem;   
    cursor: pointer;
}

.value-block--value{
    font-size: 2rem;
    font-weight: 900;
    color: #4a4a4a;
    font-family: 'circular-bold',sans-serif !important;
}

.value-block--value span{
    font-size: .7rem;
    font-weight: 400;
    position: relative;
    top: -2px;
}

.checkout-plans{
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 100%;
   top: 103%;
   left: 0px;
   visibility: hidden;
   z-index: -1;
   opacity: 0;
   padding: 15px 12px;
   background-color: #fff;
   box-shadow: 0 0 40px rgb(69 71 69 / 20%);
   border-radius: 4px;
   font-size: .9rem;
}

.checkout-plans.open{
    visibility: visible;
    z-index: 10;
    opacity: 1;
}

.checkout-plans a{
    padding:11px 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #333;
    border-radius:2px;
}

.checkout-plans a em{
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.checkout-plans img{
    width: 38px;
    height: 28px;
    background-color: #3b82ff;
    margin-right: 10px;
    padding: 3px 0;
    border-radius: 2px;
}

.checkout-plans a:first-of-type img{
    background-color: #a0aabd; 
}

.checkout-plans  a:hover{
    background-color: #f5f5f5;
}

.checkout-plans  a:hover img{    
    background-color: #fefefe;    
}

.checkout-plans  a.active{
    background-color: #3b82ff;
    color: #fff;
}

.checkout-plans  a.active img{    
    background-color: #fff;    
}

.checkout-plans  a span{
    font-family: 'circular',sans-serif !important; 
}

.text-block{
    margin: 10px 0;
}

.text-block h3{
    font-size:1.02rem;
    color: #333;
    line-height: 1.5;
    margin: 15px 0;
}

.text-block p, .payment-ways--body p, .checkout-page p{
    line-height: 1.3;
    font-size: .9rem;
    color: #444;
}

.line-block{
    display: block;
    width: 100%;
    border-bottom:1px solid #f1f1f1; 
    margin: 16px 0;
}

.payment-block h3{
    font-size: 1.1rem;
    margin: 20px 0;
    color: #4b4b4b;
}

.payment-block-list{
    border: 1px solid #c8c8c8;
    border-radius: 0.25rem;
}

.payment-ways{
    padding: 16px;
}

.payment-ways:not(:last-child){
    border-bottom: 1px solid #c8c8c8;
}

.payment-ways--header{
    cursor: pointer;
}

.payment-ways--header input{
    appearance: none;
    background: radial-gradient(circle,#fff 100%,#fff 0);
    border: 0.125rem solid #c8c8c8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 20px;
    margin: 0.125rem;
    width: 20px;
}

.payment-ways--header label{
    cursor: pointer;
    width:calc(100% - 30px);
}

.payment-ways--header input:checked {
    background: radial-gradient(circle,#02a95c 45%,#fff 0);
    border-color: #02a95c;
}

.payment-ways--header input:hover:not(:disabled) {
    box-shadow: 0 0 0 0.625rem #e6f6ef;
}

.payment-ways--header label span {
    text-transform: uppercase;
    font-size: .869rem;
}

.payment-ways--header label img{
    width: 27px;
    height: 27px;
    margin: 0 10px; 
} 

.payment-ways--header label .banks-imgs{
    margin-left: 10px;
}

.payment-ways--header label .banks-imgs img{
    height: auto;
    margin: 0;
    position: relative;
    top: 0px;
    border-radius: 50%;
}

.payment-ways--header label .banks-imgs li:first-of-type span{
   margin-right: 2px;
   width: 21px;
   height: 20px;
   border-radius: 50%;
   background-color: #d42d12;
}

.payment-ways--header label .banks-imgs li:first-of-type span img{
    width: 82%;
 }

.payment-ways--header label .banks-imgs li img{
    width: 100%;
}

.banks-imgs span{
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 2px;   
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.payment-ways--body{
    padding: 20px 19px 10px;
    display: none;
}

.payment-ways--body.open{
    display: block;
}

.payment-ways--body p{
    padding:5px 0px;
}

.payment-ways--values {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 30px;
}

.payment-ways--values.brd-bottom{
    border-bottom:1px solid #ededed; 
}

.payment-ways--values li{
    display: flex;
    justify-content: space-between;
    font-size: .907rem;
    color: #444;
    padding: 10px 5px ;
    border-top: 1px solid #f6f6f6;
}

.checkbox-list {
    padding: 20px 0;
}

.checkbox-list li , .confirm-tips li{
    margin: 15px 0;

} 

.checkbox-item input, .confirm-tips li input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0.125rem solid #c8c8c8;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 20px;
    margin: 0.125rem;
    position: relative;
    width: 20px;
}

.checkbox-item label, .confirm-tips li label{
    width: calc(100% - 38px);
    margin-left: 14px;
    font-size: .88rem;
    color: #3c3c3c;
}

.checkbox-item input:checked, .confirm-tips li input {
    background: #02a95c;
    border-color: #02a95c;
    content:  url(../img/checkmark.svg);
 }

.checkbox-item input:hover:not(:disabled), .confirm-tips li input{
    box-shadow: 0 0 0 0.625rem #e6f6ef;
}

.payment-button{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px 10px;
  font-size: .973rem;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: none;
}

.payment-button.open{
    display: flex;
}

.payment-button img{
    width: 26px;
    margin-right: 10px;
}

.payment-button.pay-gateway{
    background: #EC7008;
}

.payment-button.pay-gateway:hover{
    background-color: #b75506;
}

.payment-button.pay-transfer{
    background: #2c65c7;  
}

.payment-button.pay-transfer:hover{
    background: #3b82ff;
}

.payment-button.pay-transfer img{
    width: 28px;
    height: 30px;
    position: relative;
    top: -2.5px;
}

.text-block.last p{
    font-size: .83rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #acacac;
}

.text-block.last p a{
    text-decoration: underline;
    color: #000;
}

.garantee-block{
    margin-top: 15px;
    display: flex;
    align-items:flex-start;
}

.garantee-block .icon-side {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background-color: #E7F0F7;
   display: flex;
   align-items: center;
   justify-content: center;
}

.garantee-block .icon-side img{
    width: 57%;
}

.garantee-block  .text-side{
    width: calc(100% - 60px);
    margin-left: 15px;
}
.garantee-block  .text-side h3{
    font-size: .9402rem;
    margin-bottom: 10px;
}

.garantee-block  .text-side p{
    font-size: .8402rem;
    margin-bottom: 13px;
    line-height: 1.5;
    color: #6c6c6c;
}

.garantee-block  .text-side p a{
    text-decoration: underline;
}

.empty-info--body{
  max-width: 460px;
  margin: 20px auto;
  text-align: center;
}

.empty-info--image{
    width: 290px;
    margin: 10px auto 0px;
    text-align: center;
}

.empty-info--body h3{
    font-size: 1.26rem;
    color: #252525;
    margin-bottom: 15px;
}

.empty-info--body p{
     color: #676767;
     line-height: 1.7;
}

.empty-info--button{
    padding:11px 16px;
    border-radius: 25px;
    color: #fff;
    background-color:#ff613d;
    margin: 20px 8px;
    justify-content: center;
    font-size: .88rem;
}

.empty-info--button svg{
    width: 20px;
    margin-right: 6px;

}

.empty-info--button.main-button {   
    background-color: #3b82ff;
}

.empty-info--button.warning-button {   
    background-color: #e08d07;
}
  
.empty-info--button.main-button:hover {
    background-color: #2869da;
}

.empty-info--button.main-button svg{
  fill: #fff;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.how-it-works--header {
    text-align: center;
    margin-bottom: 30px ;
}

.how-it-works--header h2{
    font-size: 1.26rem;
    color: #3a3a3a;
    line-height: 2;
}

.how-it-works--header p{
    font-size: .94rem;
    margin-bottom: 10px;
}

.how-it-works .steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.how-it-works .steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 24%;
    padding: 32px 32px 40px;
    align-self: stretch;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 5px rgb(50 50 80 / 10%);
    box-sizing: border-box;
    border-radius: 10px;
    transition: all .1s ease-in-out;
}

.how-it-works .steps .step:hover {
    border: 1px solid rgba(82,93,249,.5);
}

.how-it-works .steps .step img {
    width: 75px;
    margin: 0 0 20px;
}

.how-it-works .steps .step .text {
    text-align: center;
}

.how-it-works .steps .step .text h3 {
    font-size: .9rem;
    margin-bottom: 10px;
}

.how-it-works .steps .step .text .description {
    color: #666;
    font-size: .88rem;
    line-height: 1.65;
}

.how-it-works .steps  .icons {
    background: #eeeffe;
    width: 35px;
    height: 35px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #525df9;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    right: -25px;
}

.how-it-works .steps  .icons svg{
    width: 20px;
    position: relative;
    top: -1px;
    left: 1.4px;
}

.recents{
    margin-bottom: 40px;
}

.recents-header {
    margin-bottom: 10px;
}

.recents-header h2{
    color: #3a3a3a;
    font-size: 1.26rem;
    line-height: 2;
}

.recents-header p {
    font-size: .93rem;
}

.recents .item .item-images:hover{
    border-color: rgba(82,93,249,.5);
}

.table-container{
    padding: 25px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    max-width: 900px;
    margin: auto;
}

.table-container * {
    font-family: 'Poppins', sans-serif !important;
}

.history-table, .history-table--body,
 .history-table--header, .history-table-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.history-table--header .column{
    font-size: .93rem;
    color: #a1aab2;
    font-weight: 200;
}

.history-table-row{
    border-bottom: 1px solid #ededed;
    align-items: center;
    cursor: pointer;
}

.history-table-row:hover{
    background-color: #E3FCF8;
}

.history-table-row.open:hover{
    background-color: #fff;
}

.column{
    display: flex;
    font-weight: 300;
    padding: 15px 12px;
    font-size: .84rem;
    align-items: center;
    color: #67757c;
}

.column-w20{
    width: 20%;
}

.column-w25{
    width: 25%;
}

.column-w30{
    width: 30%;
}

.column-w40{
    width: 40%;
}

.text-center{
    text-align: center;
    justify-content: center;
}

.status-skin {
    font-size: .74rem;
    padding: 4px 10px 5px;
    border-radius: 3px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
}

.status-skin.green{
    background-color: #109237;
}
 
.status-skin.transf{
    background-color: #2869da;
}

.status-skin.mcx{
    background-color: #EC7008;
}

.status-skin.red{
    background-color: #e03958;
}

.table-row--body {
    width: 100%;
    display: none;
    padding: 15px 0;
    background-color: #fcfcfc;
    border-top: 1px solid #ededed;
    border-left: 4px solid transparent;
}

.table-row--body.green{
    border-left-color: #109237;
}
 
.table-row--body.transf{
    border-left-color: #2869da;
}
.table-row--body.mcx{
    border-left-color: #EC7008;
}

.table-row--body.red{
    border-left-color: #e03958;
}

.table-row--body ul{
    display: flex;
    flex-wrap: wrap;
}

.table-row--body ul li{
   width: 50%;
   padding:9px 18px; 
   display: flex;
   align-items: center;
}

 .table-row--body svg{
    width: 16px;
    position: relative;
    top: 2px;
    fill: #fff;
 }

.table-row--body ul li span{
    font-size: .8rem;
    font-weight: 300;
    display: inline-block;
    margin: 0 3px;
    color: #535353;
    font-family: 'Poppins', sans-serif !important;
}

.table-row--body ul li span:first-of-type{
    color: #222;
}

.table-row--body ul li:last-of-type span:nth-of-type(n + 2){
    color: #fff;
}

.re-order{
    padding: 1px 5px;
    background-color: #6c6d6c;
    color: #fff;
    border-radius: 2px;
    position: relative;
}

.re-order i{
    font-size: .7rem;
    left: 50%;
    background-color: #6c6d6c;
    transform: translateX(-50%);
    top: -36px;
    padding: 5px 10px;
}

.re-order i::before{
    left: 48%;
    border-color: #6c6d6c;
    top: 81%;
}


.filter {
    margin: 20px 0 12px;
    background-color: #fff;
    border-radius: 4px;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    /*box-shadow: rgb(71 66 53 / 8%) 0 6px 39px;*/
    width: 100%;
}
.filter__inputs {
    justify-content: space-between;
}

.filter__inputs .form_control {
    font-size: .965rem;
    color: #222;
    display: flex;
    align-items: center;
}
.filter__inputs .form_control select option{
    font-size: 1rem;
    padding: 15px 10px;
}

.filter__inputs .form_control select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/select.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 97% center;
    outline: none;
}

.filter__inputs .form_control:nth-of-type(n+2) input,
.filter__inputs .form_control select {
    padding: 12px 15px;
    margin: 0 8px;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #626667;
    font-size: .9rem;
    background-color: #f9f9f9;
}

.filter__button {
    background-color: #343141;
    padding: 12px 10px;
    font-size: .93rem;
    color: #fff;
    max-width: 120px;
    border-radius: 3px;
}

.filter__button svg {
    width: 20px;
    margin-right: 5px;
    color: #aaa;
    line-height: 0;
}

.loading{
  margin: 10px auto 30px;
  display: inline-flex;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 3px;
  color: #1d0e0b;
  align-items: center;
  transition:  all .3s ease-in-out;
  font-size: .9rem;
  cursor: pointer;
}
.loading img{
    display: none;
    width: 20px;
}
.loading.active img{
   display: inline-flex;
   margin-left: 10px;
}

.pagination{
    justify-content: space-between;
    padding-left: 30%;
    margin: 20px  0;
}
.next-prev--buttons .prev-button, 
.next-prev--buttons .next-button
{
    padding: 10px 25px;
    margin: 5px 10px;
    display: flex;
    font-size: .84rem;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
}
.next-prev--buttons .prev-button img, 
.next-prev--buttons .next-button img
{
   width: 16px;
}
.next-prev--buttons .prev-button{
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    color: #fff;
}
.next-prev--buttons .prev-button:hover{
    background-color: #333;
}
.next-prev--buttons .next-button:hover{
    background-color: #e88813;
}
.next-prev--buttons .next-button{
    background-color: #F7941E;
    border: 2px solid #F7941E;
}
.prev-button img{
    margin-right: 10px;
}
.next-button img{
    margin-left: 10px;
}

.actual-number--page{
    padding: 8px 18px;
    border: 2px solid #999;
    color: #333;
    font-size: .9rem;
    border-radius: 2px;
}
.total-number--page{
    padding: 8px;
    font-size: .9rem;
}
.page-direction--buttons span svg{
  width: 20px;
  color: #f5f5f5;
}
.page-direction--buttons span{
    padding: 10px;
    background-color: #777;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.page-next{
    border-radius: 2px 0 0 2px;
}
.page-prev{
    border-radius: 0 2px 2px 0;
}
.privacy-policy-header{
     width: 85%;
     margin: 30px auto 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.privacy-logo {
    display: flex;
    align-items: center;
}
.privacy-logo img{
    border-radius: 6px;
    width: 42px;
    margin-right: 6px;
    height: 42px;
}
.privacy-logo span{
    font-size: .9rem;
    display: block;
    font-weight: 600;
}
.privacy-logo span:first-of-type{
    font-size: .98rem;
    
}
.privacy-policy-header ul{
    display: flex;
    align-items: center;
}
.privacy-policy-header ul li{
    margin-left: 15px;
}
.privacy-policy-header ul li a{
   display: flex;
   font-size: .97rem;
   align-items: center;
}
.privacy-policy-header ul li:first-of-type a:hover{
   text-decoration: underline;
  }
.privacy-policy-header ul li:last-of-type a{
   padding: 8px 12px;
   background-color: #F7941E;
   color: #000;
   transition: all .3s ease-in;
   border-radius: 3px;
   font-size: .86rem;
 }
 .privacy-policy-header ul li:last-of-type a:hover{
    background-color: #df8618;
  }
.privacy-policy-header ul li a svg{
    width: 20px;
    margin-right: 5px;
}
.policy{
    padding: 35px;
}
.policy h1, .policy h2, .policy h3{
    margin: 30px 0 ;
}
.policy .privacy-police--title{
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #454545;
}
.policy .updated-date {
   font-size: .9rem;
   color: #444;
   display: block;
   margin-bottom: 20px;
}
.policy-inner{
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    border-radius: 6px;

}
.privacy-policy{
    padding: 55px;
}
.privacy-policy__content p{
    margin-bottom: 15px;
    font-size: .92rem;
    line-height: 1.6;
    color: #444;
}

.privacy-policy__content h2, 
.privacy-policy__content h3{
  color: #454545;
}
.privacy-policy__content ul,
.privacy-policy__content ol{
    margin-bottom: 16px;
    display: block;
    
}
.privacy-policy__content ul li,
.privacy-policy__content ol li {
    margin-bottom: 15px;
    display: flex;
    margin-left: 15px;
}
.privacy-policy__content ul li::before,
.privacy-policy__content ol li::before {
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #3a3a3a;
    margin-right: 14px;
    position: relative;
    top: 8px;
}
.privacy-policy__content ul li span,
.privacy-policy__content ol li span {
    width: calc(100% - 30px);
    margin-right: 10px;
    font-size: .88rem;
    line-height: 1.5;
    color: #454545;
}

.privacy-footer-address{
    text-align: center;
    margin-top: 40px;
    font-weight: 300;
    font-size: .88rem;
    color: #565656;
}

.confirm-header{
   margin-bottom: 25px;
   text-align: center;
   flex-direction: column;
   align-items: center;
}
.confirm-header svg{
    width: 54px;
    color: #109237;
  }

.confirm-header h2{
    font-size:1.16rem ;
    color: #4a4a4a;
    margin: 12px 0 2px;
}

.confirm-header span{
    font-size: .93rem;
    color: #109237;
    font-weight: 600;
    
}

.confirm-items {
    margin-bottom: 20px;
}
.confirm-items li{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.confirm-items li span{
 font-size: .9rem;
 padding-right: 10px;
}
.confirm-items li span:last-of-type{
    font-weight: 600;
}
.confirm-text{
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 10px;
}
.confirm-text b{
    text-transform: uppercase;
    font-size: .75rem;
}

.confirm-date{
    display: flex;
    justify-content: flex-end;
    font-size: .83rem;
    color: #686868;
    padding-right: 5px;
}
.confirm-tips{
    padding: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #fafafa;
    margin-bottom: 10px;
}
.confirm-tips ul{
    margin-top: 10px;
}
.confirm-tips ul li{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.confirm-tips ul li svg{
    width: 18px;
    margin-right: 8px;
    color: #174fae;
}

.confirm-tips ul li span{
    width: calc(100% - 24px);
    font-size: .85rem;
    line-height: 1.5;
    color: #464646;
}
.doubt-line{
    text-align: center;
    font-size: .9rem;
    padding: 10px 0;
}

.confirm-button{
    padding: 14px 20px;
    border-radius: 3px;
    background-color: #EC7008; 
    color: #fff;
    font-weight: 600;
    transition: all .3s ease-in-out;
    margin: 16px 0 5px ;
    text-transform: uppercase;
    font-size: .882rem;   
}
.confirm-button:hover{
background-color:#b75506
}
.doubt-line span{
    display: block;
    margin-top: 6px;
    font-weight: 600;
    color: #656565;
}

@media (min-width: 200px){
    .filter {
        padding: 20px 10px;
    }
    .filter__inputs {
        width: 100%;
    }
    .filter__inputs .form_control {
        width: 100%;
    }
    .filter__inputs .form_control select, select {
        width: 100%;
        margin: 5px 0;
    }
    .filter__button {
        width: 100%;
        max-width: 100%;
    }
}

/* Media queries */

@media (max-width: 1200px) {
    .plan-item>* {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 990px) {

    .plan-item>* {
        padding-left: 35px;
        padding-right: 35px;
    }

    .how-it-works .steps .step {
        width: 33%;
        margin-bottom: .5%;
    }
}
@media(min-width: 900px){
    .filter {
        padding:20px;
        flex-wrap: nowrap;
    }
    .filter__inputs {
        width: 100%;
        flex-wrap: nowrap;
    }
    .filter__inputs .form_control {
        width: 49%;
        margin-right:17px;
    }
    .filter__inputs .form_control:last-of-type {
        margin-right: 1%;
    }
    .filter__inputs .form_control select, select {
        margin: 0;
    }
    .filter__button {
        max-width: 110px;
        margin-left: 5px;
    }
    }
@media(max-width: 760px) {
    .history-table-row {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .history-table-row {
        margin: 10px 0;
    }
    .history-table--header span {
        background-color: #eee;
    }
    .history-table--header {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }

     .column {
        border: 1px solid #efefef;
        margin: 0 -1px -1px 0;
        width: 100% !important;
        text-align: right;
        padding-left: 40%;
        position: relative;
        font-size:.78rem ;
        justify-content: flex-end !important;
    }
  
     .column::before,
    .history-table--header span::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        text-align: left;
        font-size: .81rem;
    }
    .column .status-skin{
        text-align: center !important;
    }
    .policy{
        padding: 30px 5px;
    }
    .privacy-policy{
        padding: 5px;
    }
    .table-row--body ul li{
        width: 100%;
        padding: 10px 5px;
    }
    .table-row--body ul li:last-of-type{
        flex-direction: column;
    }
    .table-row--body ul li:last-of-type span{
        margin-top: 10px;
    }
}

@media (max-width: 767px) {

    .submenu {
        top: 60px;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 50px;
    }

    .general-content {
        padding-top: 60px;
        padding-left: 0px;
    }

    .logo-type-section {
        width: 100%;
    }

    .logo-type-section div {
        width: unset;
        height: unset;
        overflow: auto;
        align-items: center;
        display: flex;
    }

    .logo-type-section a {
        order: -1;
    }

    .logo-type-section a img {
        width: 30px;
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    .logo-type-section #heading-title-logo {
        display: inline-flex;
        color: #fff;
        visibility: visible;
    }

    .dashbord-container {
        margin-left: 60px;
        padding: 10px 0;
    }

    .plan-title-items {
        width: 100%;
    }

    .row {
        margin-bottom: 30px;
    }

    .plan-title-section h2 {
        font-size: 3.6rem;
        line-height: 1.2;
    }

    .how-it-works .steps .step{
        width: 49%;
        margin-bottom: 2%;
    }

    .how-it-works .steps .step:nth-of-type(2) .icons{
        display: none;
    }

    .assignature-img{
        width: 35px;
    }
}
@media(max-width: 547px) {
    .payment-ways--header label .banks-imgs{
        display: none;
    }

    .payment-ways{
        padding: 15px 10px;
    }

    .how-it-works .steps .step{
        width: 99%;
        margin-bottom: 2%;
    }

    .how-it-works .steps .step .icons{
        display: flex !important;
        transform: translateY(-50%) rotate(89deg);
        top: unset;
        bottom: -40px;
        right: unset;
    }

    .empty-info--image{
        width: auto;
    }
    .policy .privacy-police--title{
        font-size: 1.4rem;
    }
    .privacy-policy__content h2, 
    .privacy-policy__content h3{
        font-size: 1.2rem;
    }
   
}

@media (max-width: 500px) {
    .plan-item>* {
        padding-left: 10px;
        padding-right: 10px;
    }
   .checkout-page{
    padding: 22px 18px 48px;
   }
   .value-block--value{
    font-size: 1.7rem;
   }
}


@media(max-width: 457px) {
    
     .checkout-page {
        padding: 10px 18px 48px;
    }

    .value-block--value {
        font-size: 1.27rem;
    }

    .value-block--assignature h4 {
        font-size: .91rem;
    }

    .assignature-img{
        display: none;
    }
}
@media(max-width: 347px) {
    .item-images {
        min-height: auto;
    }

    .value-block{
        flex-direction: column;
        align-items: center;
    }

    .payment-ways--values li {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .payment-ways--values li  span{
        padding: 5px 0;
    }

    .payment-ways--header label img {
        margin: 0 5px;
    }

    .payment-ways--header label span {
        font-size: .719rem;
    }
}